/* --Application */

/* GENERAL */



/* GENERAL */

/* HEADER */
    
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

.header
{
    height:75px;
    background-color:#222831;
}

.header-container
{
    width:80%;
    margin:auto;
}

.header-title
{
    float:left;
    font-family: 'Anton', sans-serif;
    line-height:75px;
    color:white;
}

.header-link
{
    float:right;
    line-height:75px;
    color:white;
    padding-left:10px;
    font-size:25px;
}

#Tw
{
    color:#1da1f2;
}

#Tw:active,
#Tw:hover
{
    color:#1B8FDC;
}


/* HEADER */


.card{
	display:
}

/* FOOTER */

.footer-container
{
    width:90%;
    margin:auto;
    justify-content:center;
    display:inline;
}

.footer-link-container
{
   display:flex;
   justify-content:center;
   width:80%;
   margin:auto;
}

.footer-heart-container
{
   display:flex;
   justify-content:center;
   width:80%;
   margin:auto;
   padding-top:25px;
}

.footer-link
{
  color:white;
  font-size:25px;
  text-decoration:none;
  display:flex;
  justify-content:center;
  padding-right:25px;
  padding-top:5px;
}

.footer-heart
{
  font-size:13px;
  margin-top:15px;
  justify-content:center;
  display:flex;
  color:white;
}

#heart
{
    padding-left:10px;
    padding-right:10px;
}

.footer
{
    height:100px;
    background-color:#222831;
    font-family: 'Gaegu', cursive;
}