<div class="container">

	<div class="card">
	 <div class="card-body">
	 	<h4>Gossip n°<%= @gossip.id %></h4>
	   <p>L'auteur est <strong><%= @gossip.author %></strong><br></p>
	   <p><%= @gossip.content %></p>
	   <a href= "/index" class="btn btn-primary">Voir tout les Gossip</a>
	 </div>
	</div>
</div>