<h1 class="main-title"> Bienvenue à toi <i class="em em-blush"></i></h1>


<%Gossip.all.each do |gossip|%>
<div class="card">
 <div class="card-body">
 	<h4>Potin n°<%= gossip.id%></h4>
   <p>L'auteur est <strong><%= gossip.author%></strong><br></p>
   <p><%= gossip.content%></p>
 </div>
</div>
<% end %>





