<div class="body-main">
	<div class="container">


	</div>
</div>
<div class=body-second>
	<div class="container">
	  <h1 class="main-title"> Bienvenue à toi </h1>
	<p>
  	  <a href= "<%= new_gossip_path %>" class="btn btn-success">Créer un Gossip <i class="fas fa-comments"></i></a>
	</p>
</div>





