<h1 class="main-title"> Bienvenue à toi </h1>


<%Gossip.all.each do |gossip|%>
<div class="card">
 <div class="card-body">
   <p>L'auteur est <%= gossip.author%><br></p>
   <p><%= gossip.content%></p>
 </div>
</div>
<% end %>





