/* --Application */

/* GENERAL */


/* GENERAL */

/* HEADER */
    
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

.header
{
    height:75px;
    background-color:#78e08f;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-container
{
    width:80%;
    margin:auto;
}

.header-title
{
    float:left;
    font-family: 'Anton', sans-serif;
    line-height:75px;
    color:white;
}

.header-link
{
    float:right;
    line-height:75px;
    color:white;
    padding-left:10px;
    font-size:25px;
}

.header a{
  color:white;
  margin-left:10px;
  padding-right:5px;
  text-decoration:none;
}

.fas{
  font-size:18px;
}

.header a:active,
.header a:hover{
  color:#b8e994;
}

/* HEADER */

.main-title{
  margin-top:50px;
  margin-bottom:50px;
}

.card{
  margin-top:10px;
  margin-bottom:10px;
  padding-top:20px; 
}

/* FOOTER */

.footer-container
{
    width:90%;
    margin:auto;
    justify-content:center;
    display:inline;
}

.footer-link-container
{
   display:flex;
   justify-content:center;
   width:80%;
   margin:auto;
}

.footer-heart-container
{
   display:flex;
   justify-content:center;
   width:80%;
   margin:auto;
   padding-top:25px;
}

.footer-link
{
  color:white;
  font-size:25px;
  text-decoration:none;
  display:flex;
  justify-content:center;
  padding-right:25px;
  padding-top:5px;
}

.footer-heart
{
  font-size:13px;
  margin-top:15px;
  justify-content:center;
  display:flex;
  color:white;
}

#heart
{
    padding-left:20px;
    padding-right:20px;
}

.footer
{
    position:relative;
    height:100px;
    width:100%;
    background-color:#78e08f;
    font-family: 'Anton', sans-serif;
    margin-top:80vh;
    bottom:0;
}